* {
    margin: 0;
    padding: 0;
}

/* NAVBAR */
nav {
	background: linear-gradient(to right, #003355, #0171BB);
	box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.nav-link:hover {
    color: #FFAD4D !important;
}

.logo {
	height: 2em;
	margin: 5px;
}
/* NAVBAR */

.plane-image {
    width: 100dvw;
    height: 40dvh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../images/about-page-image-1.jpg);
    border-radius: 0 0 150px 150px;
    -webkit-box-shadow: 1px 20px 16px 0px rgba(0,0,0,0.64);
    -moz-box-shadow: 1px 20px 16px 0px rgba(0,0,0,0.64);
    box-shadow: 1px 20px 16px 0px rgba(0,0,0,0.64);
}

h1 {
    font-size: 35px;
    font-weight: bold;
    color: #00204A;
}

.about-us strong,
.about-us p,
.about-us li {
    font-size: 1rem;
    color: #00204A;
}
.ceo {
    width: 300px;
}



footer {
	background: linear-gradient(to right, #003355, #0171BB);
}

footer p,
footer ul {
	font-size: .9rem;
}
