* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Plus Jakarta Sans", sans-serif;
	font-optical-sizing: auto;
}

/* NAVBAR */
nav {
	background: linear-gradient(to right, #003355, #0171BB);
	box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.nav-link:hover {
	color: #FFAD4D !important;
}

.logo {
	height: 2em;
	margin: 5px;
}
/* NAVBAR */


main {
	margin-top: 60px;
}

footer {
	background: linear-gradient(to right, #003355, #0171BB);
}

footer p,
footer ul {
	font-size: .9rem;
}

/* Firts Section CCSS */
#section1 {
	background-image: url('../images/Rectangle 998.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border-bottom-left-radius: 30px;
	border-bottom-right-radius: 30px;
	overflow: hidden;
}


#section2 {
	background-color: #FFFFE3;
	color: #00204A;
}

#section2 p {
	font-family: "Sansita Swashed", system-ui;
}

#section3 {
	color: #00204A;
}

#section4 {
	color: #00204A;
}
