/* General Styling */
/* body {
    background-color: #f16d6d;
    font-family: Arial, sans-serif;
} */

/* NAVBAR */
/* nav {
	background: linear-gradient(to right, #003355, #0171BB);
}

.nav-link:hover {
    color: #FFAD4D !important;
}

.logo {
	height: 2em;
	margin: 5px;
} */


/* Progress Bar Container */
/* .progress-bar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
} */

/* Step Icons and Lines */
/* .step {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
}

.step.active .icon {
    background-color: #0056b3;
    border-radius: 50%;
    padding: 10px;
}

.step .icon {
    background-color: #e0e0e0;
    border-radius: 50%;
    padding: 10px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.step span {
    margin-top: 8px;
    font-size: 14px;
    color: #333;
} */
/* Connecting Lines */
/* .line {
    flex-grow: 1;
    height: 2px;
    background-color: #e0e0e0;
    position: relative;
    margin: 0 10px;
}

.line:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: #0056b3;
} */

/* Card Styling */
/* .card {
    background-color: #f28f8f;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
} */

/* Form Styling */
 .form-group label {
    font-weight: bold;
}

.form-check-label {
    font-size: 16px;
}

/* Footer Styling
footer {
    background-color: #4d79ff;
}

footer div {
    margin-bottom: 5px;
} */


/* NAVBAR */
nav {
	background: linear-gradient(to right, #003355, #0171BB);
	box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.nav-link:hover {
    color: #FFAD4D !important;
}

.logo {
	height: 2em;
	margin: 5px;
}
/* NAVBAR */

footer {
	background: linear-gradient(to right, #003355, #0171BB);
}

footer p,
footer ul {
	font-size: .9rem;
}
/* FOOTER */
/* PROGRESS */

.progress-card {
    padding: 10px;
    margin-top: 10px;
    min-height: 50px;
    border: 1px solid #dfdfdf;
    border-radius: 10px;
}
.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 2px solid #235477;
    color: #235477;
}
.bar {
    width: 130px;
    border: 1px solid #d9d9d9;
}
.current,
.bar-current {
    border: 3px solid #ffad4c;
}
.done {
    border: 3px solid #65ff4c;
}
.fn{
    font-weight: 600;
    color:#235477;
}

/* SELECT FLIGHT */
.flight-search {
    margin-top: 80px;
}

label, h2, h3, h5, .flight-search i{
    color:#00204A;
    font-weight: 700;
}

.form-control, .form-select {
    background-color: #ededed;
}

.form-control, .form-select {
    border: 1px solid transparent;
}

.form-control:focus,
.form-select:focus {
    border: 1px solid #1b6fa6;
}
.card {
    border-radius: 10px ;
}

#flightType {
    font-weight: 700;
    color:#fff;
    background-color:#1b6fa6;
}
#btnSearchFlight {
    font-weight: 700;
    color:#fff;
    background-color: #1b6fa6;
    width: 15rem;
    height: 2.5rem;
}

.fa-bag {
    color: #003355;
}

.custom-btn {
    width: 175px;
}

.custom-dropdown {
    width: 175px;
    border-radius: 0.5rem;
}

.custom-dropdown .dropdown-item {
    padding: .5rem 1rem;
    font-size: 0.9rem;
}

.custom-dropdown .dropdown-item:hover {
    background-color: #D9D9D9;
    color: #0056b3;
}

.save-btn {
    width: 200px;
    height: 50px;
    font-size: 1rem;
    padding: .75rem 1.5rem;
}

@media screen and (min-width: 768px) {
    #flightType {
        width: 150px;
    }
}
