* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
}

/* NAVBAR */
nav {
	background: linear-gradient(to right, #003355, #0171BB);
	box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.nav-link:hover {
    color: #FFAD4D !important;
}

.logo {
	height: 2em;
	margin: 5px;
}
/* NAVBAR */

main {
    margin-top: 60px;
}

body {
	color: #013456;
}

.form-control {
  background-color: #D9D9D9;
}

.form-select {
  background-color: #D9D9D9;
  border-radius: .25rem;
  padding: .375rem .75rem;
}

.submit-btn {
    width: 200px;
    height: 50px;
    font-size: 1rem;
    padding: .75rem 1.5rem;
}


footer {
	background: linear-gradient(to right, #003355, #0171BB);
}

footer p,
footer ul {
	font-size: .9rem;
}
